<template>
  <v-layout
    py-3
    wrap>
    <v-flex
      xs12
      md10
      offset-md1>
      
      <v-card class="py-1">
        <v-card-title 
          v-show="error || !filteredOperations.length && !pending"
          primary-title>
          <div
            v-show="!filteredOperations.length && !pending"
            class="mx-auto">
            No transactions yet
          </div>
          <div 
            v-show="error"
            class="mx-auto">
            Error when fetching user's transactions
          </div>
        </v-card-title>
        <div
          v-if="pending"
          class="d-flex">
          <v-progress-circular 
            :size="50" 
            indeterminate 
            color="blue darken-3"/>
        </div>
        
        <v-list three-line>
          <TransactionsItem 
            v-for="item in filteredOperations"
            :item="item"
            :key="item.id"
            :user-id="userId"/>
        </v-list>
      </v-card>


    </v-flex>
  </v-layout>
</template>

<script>
import appConfig from '@src/app.config'
import { mapGetters } from 'vuex'
import TransactionsItem from './TransactionsItem'

export default {
  components: {
    TransactionsItem,
  },
  props: {
    // limit number of last transactions to show
    limit: {
      type: Number,
      required: false,
      default: 100,
    },
  },
  computed: {
    ...mapGetters({
      userId: 'account/getAccountUserId',
      operations: 'operations/getOperations',
      pending: 'operations/isFetching',
      error: 'operations/isError',
    }),
    sortedOperations() {
      return this.operations.slice().sort((a, b) => {
        const dateA = new Date(a.date)
        const dateB = new Date(b.date)
        return dateB - dateA
      })
    },
    filteredOperations() {
      if (!this.userId) return []
      if (this.limit) return this.sortedOperations.slice(0, this.limit)
      return this.sortedOperations
    },
  },
  page: {
    title: 'History',
    meta: [{ name: 'description', content: appConfig.description }],
  },
}
</script>
