
<script>
import Login from '@views/login'
import Signup from '@views/signup'
import Toast from '@components/toast'
import ConnectionStatus from '@components/ConnectionStatus'

export default {
  name: 'Welcome',
  components: { Login, Signup, Toast, ConnectionStatus },
  data() {
    return {
      toastMessage: {},
    }
  },
  computed: {
    currentView() {
      return this.$route.name
    },
  },
  methods: {
    newMessage(message) {
      this.toastMessage = message
      setTimeout(() => {
        this.toastMessage = {}
      }, 3000)
    },
  },
}
</script>

<template>
  <v-app id="inspire">
    <div class="initial-background"/>
    <v-content>
      <v-container
        fluid
        fill-height>
        <v-layout
          align-center
          justify-center>
          <component
            :is="currentView"
            transition="fade"
            transition-mode="out-in"
            @message="newMessage"/>
        </v-layout>
      </v-container>
    </v-content>
    <Toast :message="toastMessage"/>
    <ConnectionStatus/>
  </v-app>
</template>

<style lang="scss">
/* stylelint-disable */
#inspire .error--text {
  color: #ff5252 !important;
}
#inspire .background-logo {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 217px;
  height: auto;
}
#inspire .initial-background {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  background-size: cover;
}
// router view transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
