<script>
import ConnectionStatus from '@components/ConnectionStatus'

export default {
  components: { ConnectionStatus },
  data() {
    return {
      items: [
        { title: 'Wallet', icon: 'list', link: 'Assets' },
        { title: 'History', icon: 'history', link: 'History' },
        { title: 'Transfer', icon: 'send', link: 'Transfer' },
      ],
    }
  },
  computed: {
    routeName() {
      return this.$route.name
    },
  },
}
</script>

<template>
  <v-footer
    color="blue darken-4"
    class="footer"
    fixed
    height="auto"
    app />
</template>

<style>
/* stylelint-disable */
.footer .card__title {
  padding: 9px 16px;
}
</style>
