<script>
import ConnectionStatus from '@components/ConnectionStatus'

export default {
  components: { ConnectionStatus },
  data() {
    return {
      items: [
        { title: 'Wallet', icon: 'list', link: 'Assets' },
        { title: 'History', icon: 'history', link: 'History' },
        { title: 'Transfer', icon: 'send', link: 'Transfer' },
      ],
    }
  },
  computed: {
    routeName() {
      return this.$route.name
    },
  },
}
</script>

<template>
  <v-footer
    color="blue darken-4"
    class="footer"
    fixed
    height="auto"
    app>
    <v-card
      color="blue darken-4"
      flat
      tile
      class="flex hidden-sm-and-down">
      <v-card-title class="white--text">
        <strong
          class="subheading">
          &copy; 2018 - Crafted
        </strong>
        <v-spacer/>
        <ConnectionStatus/>

      </v-card-title>
    </v-card>
    <v-bottom-nav
      :value="true"
      :active="routeName"
      color="blue darken-4"
      class="hidden-md-and-up"
      fixed>
      <v-btn
        v-for="item in items"
        :key="item.title"
        :value="item.title"
        dark
        @click="$router.push({ name: item.link })">
        <span>{{ item.title }}</span>
        <v-icon>{{ item.icon }}</v-icon>
      </v-btn>
    </v-bottom-nav>
  </v-footer>
</template>

<style>
/* stylelint-disable */
.footer .card__title {
  padding: 9px 16px;
}
</style>
