<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data() {
    return {
      dialog: false,
      password: '',
      passwordErrors: [],
    }
  },
  computed: {
    ...mapGetters({
      locked: 'account/isLocked',
      isPasswordLogin: 'account/isPasswordLogin',
      name: 'account/getCurrentUserName',
      isValidPassword: 'account/isValidPassword',
    }),
  },
  methods: {
    ...mapActions({
      logout: 'account/logout',
      lock: 'account/lockWallet',
      loginPass: 'account/loginWithPassword',
      unlockWallet: 'account/unlockWallet',
    }),
    handleLogout() {
      this.logout()
      this.$router.push({ name: 'login' })
    },
    async unlock() {
      if (this.isPasswordLogin) {
        const loginResult = await this.loginPass({
          name: this.name,
          password: this.password,
        })

        if (loginResult.success) {
          this.dialog = false
          this.password = ''
          this.passwordErrors = []
        } else {
          this.passwordErrors = 'Password is not valid'
        }
      } else {
        if (this.isValidPassword(this.password)) {
          this.unlockWallet(this.password)
          this.dialog = false
          this.password = ''
          this.passwordErrors = []
        } else {
          this.passwordErrors.push('Invalid password')
        }
      }
    },
  },
}
</script>

<template>
  <v-toolbar
    class="header"
    dense
    fixed
    app
    clipped-left
    dark
    color="blue darken-4">
    <img
      class="logo"
      src="@assets/images/quintric_logo.png"
      alt="Logo">
    <v-list-tile avatar>
      <v-list-tile-avatar>
        <img
          v-show="username"
          src="https://bytemaster.github.io/assets/img/authorimage.jpg">
        <v-progress-circular
          v-show="!username"
          :size="30"
          :width="3"
          indeterminate
          color="blue darken-4"/>
      </v-list-tile-avatar>
      <v-list-tile-content>
        <v-list-tile-title>{{ username }}</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
    <v-toolbar-title>
      <span class="hidden-xs-only">| </span>{{ $route.name }}
    </v-toolbar-title>
    <v-spacer/>

    <template v-if="locked">
      <v-dialog
        v-model="dialog"
        width="400">
        <v-btn
          slot="activator"
          flat
          icon>
          <v-icon>lock</v-icon>
        </v-btn>
        <v-card>
          <v-card-title
            class="headline">
            Unlock wallet
          </v-card-title>

          <v-card-text>

            <v-text-field
              :clearable="true"
              :error-messages="passwordErrors"
              v-model="password"
              type="password"
              label="Enter password"
              color="blue darken-3"
            />

          </v-card-text>

          <v-card-actions>
            <v-spacer />
            <v-btn
              color="blue darken-1"
              flat="flat"
              @click.native="dialog = false">Cancel</v-btn>
            <v-btn
              color="blue darken-1"
              flat="flat"
              @click.native="unlock">Confirm</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>
    <template v-else>
      <v-btn
        icon
        flat
        @click.native = "lock">
        <v-icon>lock_open</v-icon>
      </v-btn>
    </template>


    <v-menu class="hidden-md-and-up">
      <v-btn
        slot="activator"
        icon
        dark>
        <v-icon>person</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile>
          <v-list-tile-avatar size="30" >
            <v-icon>person</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title><strong>{{ name }}</strong></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="handleLogout">
          <v-list-tile-avatar size="30">
            <v-icon>exit_to_app</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>Log out</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-avatar size="30">
            <v-icon>help</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>Help</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-menu>

    <v-tooltip
      bottom
      class="hidden-sm-and-down">
      <v-btn
        slot="activator"
        flat
        icon
        @click="handleLogout"><v-icon>exit_to_app</v-icon></v-btn>
      <span>Logout</span>
    </v-tooltip>
  </v-toolbar>
</template>

<style lang="scss">
.header .logo {
  height: 30px;
}
/* stylelint-disable */
.error--text {
  color: #ff5252 !important;
}
</style>
