<template>
  <v-app id="inspire">
    <Header />
    <v-content>
      <router-view
        :key="$route.fullPath"
        @message="newMessage"/>
    </v-content>

    <Footer/>

    <Toast :message="toastMessage"/>

  </v-app>
</template>

<script>
import Header from '@src/router/layouts/header'
import Footer from '@src/router/layouts/footer'
import Toast from '@components/toast'
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
  components: {
    Header,
    Footer,
    Toast,
  },
  data() {
    return {
      toastMessage: {},
    }
  },
  computed: {
    ...mapState({
      fetching: state => state.account.userFetching,
    }),
    ...mapGetters({
      username: 'account/getCurrentUserName',
      connected: 'connection/isReady',
      userId: 'account/getAccountUserId',
    }),
  },
  watch: {
    connected: {
      handler(newVal) {
        if (newVal) this.initUserData()
        else this.unsubFromUserData()
      },
      immediate: true,
    },
    userId(newVal) {
      // cleanup after logout
      if (!newVal) this.resetUserData()
    },
  },
  methods: {
    ...mapActions({
      initUserData: 'app/initUserData',
      resetUserData: 'app/resetUserData',
      unsubFromUserData: 'app/unsubFromUserData',
    }),
    newMessage(message) {
      this.toastMessage = message
      setTimeout(() => {
        this.toastMessage = {}
      }, 3000)
    },
  },
}
</script>
