<template>
  <div>
    <v-toolbar
      flat
      class="transparent">
      <v-list class="pa-0">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img
              v-show="username"
              src="https://bytemaster.github.io/assets/img/authorimage.jpg">
            <v-progress-circular
              v-show="!username"
              :size="30"
              :width="3"
              indeterminate
              color="blue darken-4"/>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>{{ username }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-toolbar>
    <v-list class="pt-0">
      <v-divider/>
      <v-list-tile
        v-for="item in items"
        :key="item.title"
        @click="$router.push({ name: item.link })">
        <v-list-tile-action>
          <v-icon :color="routeName === item.title ? 'blue darken-4' : ''">{{ item.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title :class="routeName === item.link ? 'blue--text text--darken-4' : ''">
            <strong>{{ item.title }}</strong>
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  data() {
    return {
      items: [
        { title: 'Wallet', icon: 'list', link: 'Assets' },
        { title: 'Transfer', icon: 'send', link: 'Transfer' },
        { title: 'History', icon: 'history', link: 'History' },
        { title: 'Help', icon: 'help' },
      ],
    }
  },
  computed: {
    ...mapGetters({
      username: 'account/getCurrentUserName',
    }),
    ...mapState({
      fetching: state => state.account.userFetching,
    }),
    routeName() {
      return this.$route.name
    },
  },
}
</script>
