<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <title><%= webpackConfig.name %></title>
  </head>
  <body>
    <!-- This is where our app will be mounted. -->
    <div id="mount"></div>

    <!--
    Serves a polyfill with only the browser features
    not supported in the current browser.
    https://polyfill.io/v2/docs/features/
    -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

    <!-- Built files will be auto injected here. -->
  </body>
</html>
