<template>
  <div class="connection-status">
    <v-progress-circular 
      v-show="!connected" 
      :width="2" 
      :size="21" 
      :color="progressColor"
      indeterminate 
      class="mr-2"/>
    <v-tooltip top>
      <v-icon 
        v-if="connected" 
        slot="activator"
        color="green">wifi</v-icon>
      <v-icon 
        v-else 
        slot="activator"
        color="red">wifi_off</v-icon>
      <span>{{ tooltipText }}</span>
    </v-tooltip>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    progressColor: {
      required: false,
      type: String,
      default: 'black',
    },
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      connected: 'connection/isReady',
    }),
    tooltipText() {
      return (
        (this.connected ? 'Connected to ' : 'Disconnected from ') + 'Bitshares'
      )
    },
  },
}
</script>

<style>
/* stylelint-disable */
.connection-status {
  position: absolute;
  right: 13px;
  bottom: 10px;
}
</style>
