<template>
  <div>
    <v-snackbar 
      :bottom="true"
      v-model="show"
      :timeout="2000"
      :color="color">
      <span class="mx-auto">{{ message.text }}</span>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  props: {
    message: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      show: false,
      text: '',
    }
  },
  computed: {
    color() {
      switch (this.message.type) {
        case 'success':
          return 'green darken-3'
        case 'error':
          return 'red darken-3'
        case 'info':
          return 'blue darken-3'
      }
    },
  },
  watch: {
    message(newMessage) {
      if (!newMessage.text) return
      this.show = true
    },
  },
}
</script>
