<template>
  <v-layout
    py-3
    wrap>
    <v-flex
      xs12
      md8
      offset-md2>
      <v-data-table

        :headers="headers"
        :items="balancesAsArray"
        :loading="showLoader && 'blue darken-3'"
        hide-actions
        class="elevation-1"
      >
        <template
          slot="items"
          slot-scope="props">
          <td>{{ props.item.symbol }}</td>
          <td class="text-xs-right">
            <v-tooltip top>
              <span slot="activator">{{ props.item.balance | format }}</span>
              <span>{{ props.item.balance }}</span>
            </v-tooltip>
          </td>
          <td class="text-xs-right">
            <v-btn
              :icon="false"
              small
              dark
              depressed
              class="hidden-xs-only"
              color="blue darken-3"
              @click="navegateToTransfer(props.item.id)">
              transfer
            </v-btn>
            <v-btn
              small
              dark
              depressed
              icon
              class="hidden-sm-and-up"
              color="blue darken-3"
              @click="navegateToTransfer(props.item.id)">
              <v-icon small>send</v-icon>      
            </v-btn>
            <template v-if="editAssetsMode">
              <v-btn
                v-if="props.item.visible"
                small
                dark
                depressed
                icon
                color="green darken-3"
                @click="hide(props.item.id)">
                <v-icon small>visibility</v-icon>      
              </v-btn>
              <v-btn
                v-else
                small
                dark
                depressed
                icon
                color="red darken-3"
                @click="show(props.item.id)">
                <v-icon small>visibility_off</v-icon>      
              </v-btn>
            </template>
          </td>
        </template>
        <template
          v-if="balancesAsArray.length"
          slot="footer">
          <td 
            colspan="100%" 
            class="assetsfooter">
            <strong><a @click="editAssetsList">{{ editAssetText }}</a></strong>
          </td>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
import appConfig from '@src/app.config'
import { mapGetters, mapState, mapActions } from 'vuex'

export default {
  name: 'Assets',
  filters: {
    format: function(value, num = 5) {
      return parseFloat(value.toFixed(num))
    },
  },
  data() {
    return {
      headers: [
        {
          text: 'Asset',
          align: 'left',
          sortable: false,
          value: 'name',
        },
        { text: 'Amount', value: 'amount', align: 'right', sortable: false },
        { text: 'Actions', value: 'null', align: 'right', sortable: false },
      ],
      editAssetsMode: false,
    }
  },
  computed: {
    ...mapGetters({
      userBalances: 'account/getCurrentUserBalances',
      getAssetById: 'assets/getAssetById',
      getHideList: 'assets/getHideList',
    }),
    ...mapState({
      fetching: state => state.account.userFetching,
    }),
    balancesAsArray() {
      const balances = this.userBalances
      if (!balances) return []
      // filter balaces that are > 0 and generate array with symbols
      // and precised balances
      let balancesKeys = Object.keys(balances).filter(
        id => balances[id].balance
      )
      if (!this.editAssetsMode) {
        balancesKeys = balancesKeys.filter(id => !this.getHideList.includes(id))
      }

      return balancesKeys.map(id => {
        const asset = this.getAssetById(id)
        const visible = !this.getHideList.includes(id)
        return {
          id,
          symbol: asset.symbol,
          balance: balances[id].balance / 10 ** asset.precision,
          visible,
        }
      })
    },
    showLoader() {
      return !this.userBalances || this.fetching
    },
    editAssetText() {
      return this.editAssetsMode ? 'Apply Changes' : 'Edit Assets List'
    },
  },
  methods: {
    ...mapActions({
      hide: 'assets/hideAsset',
      show: 'assets/showAsset',
    }),
    navegateToTransfer(assetId) {
      this.$router.push({ name: 'Transfer', params: { assetId } })
    },
    editAssetsList() {
      this.editAssetsMode = !this.editAssetsMode
    },
  },
  page: {
    title: 'Assets',
    meta: [{ name: 'description', content: appConfig.description }],
  },
}
</script>

<style>
.assetsfooter {
  color: #1565c0;
  text-align: center;
}
.assetsfooter a {
  border-bottom: 1px solid #1565c0;
}
</style>
