<template>
  <v-flex
    xs12
    sm8
    md5>
    <v-card class="elevation-12">

      <v-toolbar
        color="blue darken-3"
        dense
        dark>
        <v-toolbar-title>Log in</v-toolbar-title>
      </v-toolbar>

      <v-tabs
        v-model="model"
        fixed-tabs
        slider-color="blue darken-3">
        <v-tab
          href="#cloud">
          Account name
        </v-tab>
        <v-tab
          href="#local">
          Key file
        </v-tab>
      </v-tabs>

      <Footer />

      <v-form @submit.prevent="handleLogin">
        <v-card flat>

          <v-card-text>

            <v-tabs-items v-model="model">

              <v-tab-item id="cloud">
                <v-text-field
                  ref="nameInput"
                  v-model="name"
                  :error-messages="nameErrors"
                  prepend-icon="person"
                  color="blue darken-3"
                  name="login"
                  label="Account name"
                  type="text"
                  @input="$v.name.$touch()"
                  @blur="$v.name.$touch()"/>
              </v-tab-item>

              <v-tab-item id="local">
                <div @click="selectFile">
                  <v-select
                    :label="fileName"
                    :error-messages="fileErrors"
                    prepend-icon="folder_open"
                    disabled
                    multi-line/>
                </div>
                <input
                  v-show="false"
                  ref="fileInput"
                  color="blue darken-3"
                  type="file"
                  accept=".bin"
                  @change="fileSelected">
              </v-tab-item>

            </v-tabs-items>

            <v-text-field
              v-model="password"
              :error-messages="passwordErrors"
              color="blue darken-3"
              prepend-icon="lock_open"
              label="Password"
              type="password"
              @input="$v.password.$touch()"
              @blur="$v.password.$touch()"/>
          </v-card-text>
        </v-card>

        <v-card-actions>
          <v-btn
            :disabled="!connected"
            :loading="inProgress"
            color="blue darken-3"
            dark
            type="submit"
            large
            block>Log in</v-btn>
        </v-card-actions>
        <v-card-actions>
          <v-btn
            color="blue darken-3"
            block
            flat
            @click="$router.push({ name: 'signup' })">Sign up</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-flex>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import { mapGetters, mapActions } from 'vuex'

import Footer from '@src/router/layouts/cleaned-footer'

export default {
  components: {
    Footer,
  },
  mixins: [validationMixin],
  data: () => ({
    model: 'cloud',
    name: '',
    password: '',
    file: null,
    inProgress: false,
    restoreError: false,
    passwordError: false,
  }),
  validations() {
    if (this.model === 'cloud')
      return {
        name: {
          required,
        },
        password: {
          required,
        },
        file: {},
      }
    return {
      name: {},
      password: {
        required,
      },
      file: {
        required,
      },
    }
  },
  computed: {
    ...mapGetters({
      connected: 'connection/isReady',
    }),
    nameErrors() {
      const errors = []
      if (this.passwordError) return [this.passwordError]
      if (!this.$v.name.$dirty || this.model !== 'cloud') return errors
      !this.$v.name.required && errors.push('Enter name')
      return errors
    },
    passwordErrors() {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.required && errors.push('Enter password')
      if (this.restoreError) errors.push(this.restoreError)
      return errors
    },
    fileErrors() {
      const errors = []
      if (!this.$v.file.$dirty) return errors
      if (!this.$v.file.required) errors.push('Select file')
      return errors
    },
    fileName() {
      return (
        (this.file && this.file.name) || 'Select your .bin key file to restore'
      )
    },
  },
  watch: {
    model(newVal) {
      if (newVal === 'cloud') this.$v.name.$reset()
      else this.$v.file.$reset()
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.$refs.nameInput.focus()
    })
  },
  methods: {
    ...mapActions({
      loginPass: 'account/loginWithPassword',
      backup: 'account/restoreBackup',
    }),
    async loginName() {
      this.passwordError = false
      this.inProgress = true
      const loginResult = await this.loginPass({
        name: this.name,
        password: this.password,
      })
      this.inProgress = false

      if (loginResult.success) {
        this.$router.push({ name: 'Assets' })
      } else {
        this.passwordError = loginResult.error
        this.$emit('message', {
          text: loginResult.error,
          type: 'error',
        })
      }
    },
    selectFile() {
      this.$refs.fileInput.click()
    },
    fileSelected(e) {
      const file = e.target.files[0]
      if (file) this.file = file
      this.$v.file.$touch()
    },
    loginFile() {
      this.inProgress = true
      let reader = new FileReader()
      reader.onload = async evt => {
        const result = await this.backup({
          password: this.password,
          backup: evt.target.result,
        })

        this.inProgress = false

        if (!result.success) {
          this.restoreError = result.error
          this.$emit('message', {
            text: result.error,
            type: 'error',
          })
          return
        }

        this.$router.push({ name: 'Assets' })
      }
      reader.readAsBinaryString(this.file)
    },
    handleLogin() {
      this.$v.$touch()
      if (this.$v.$invalid) return
      if (this.model === 'cloud') this.loginName()
      else this.loginFile()
    },
  },
}
</script>
