<template>
  <v-flex 
    xs12 
    sm8 
    md5>
    <v-card class="elevation-12">
      <v-toolbar 
        dark 
        dense
        flat
        color="blue darken-3">
        <v-toolbar-title>Create account</v-toolbar-title>
      </v-toolbar>
      <v-form @submit.prevent="signup">
        <v-card-text>
          <v-text-field 
            ref="nameInput"
            v-model="name"
            :error-messages="nameErrors"
            prepend-icon="person" 
            name="login"
            color="blue darken-3"
            label="Account name" 
            type="text"
            @input="$v.name.$touch()"
            @blur="$v.name.$touch()" />
          <v-layout 
            row 
            wrap>
            <v-text-field 
              ref="password"
              v-model="password" 
              :error-messages="passwordErrors"
              prepend-icon="lock"
              label="Generated password"
              color="blue darken-3"
              readonly
              type="text"
              @input="$v.password.$touch()"
              @blur="$v.password.$touch()"/>
            <v-btn 
              v-clipboard:copy="password"
              v-clipboard:success="onCopy" 
              color="blue darken-3" 
              fab
              small
              dark>
              <v-icon>file_copy</v-icon>
            </v-btn>
          </v-layout>
          <v-text-field 
            v-model="repeatPassword" 
            :error-messages="repeatPasswordErrors"
            prepend-icon="lock_open"
            label="Confirm password"
            color="blue darken-3"
            type="password"
            @input="$v.repeatPassword.$touch()"
            @blur="$v.repeatPassword.$touch()"/>
        </v-card-text>
        <v-card-actions>
          <v-btn 
            :disabled="!connected" 
            color="blue darken-3"
            dark
            block
            large
            type="submit">Sign up</v-btn>
        </v-card-actions>
      </v-form>
      <v-card-actions>
        <v-btn 
          color="blue darken-3" 
          block
          flat
          @click="$router.push({ name: 'login' })">Log in</v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { validationMixin } from 'vuelidate'
import { required, sameAs } from 'vuelidate/lib/validators'
import Vue from 'vue'
import VueClipboard from 'vue-clipboard2'
Vue.use(VueClipboard)

export default {
  mixins: [validationMixin],
  validations: {
    name: {
      required,
    },
    password: {
      required,
    },
    repeatPassword: {
      sameAsPassword: sameAs('password'),
    },
  },
  data: () => ({
    password: '',
    name: '',
    repeatPassword: '',
  }),
  computed: {
    ...mapGetters({
      connected: 'connection/isReady',
    }),
    nameErrors() {
      const errors = []
      if (!this.$v.name.$dirty) return errors
      !this.$v.name.required && errors.push('Enter name')
      return errors
    },
    passwordErrors() {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.required && errors.push('Enter password')
      return errors
    },
    repeatPasswordErrors() {
      const errors = []
      if (!this.$v.repeatPassword.$dirty) return errors
      !this.$v.repeatPassword.sameAsPassword &&
        errors.push('Passwords do not match')
      return errors
    },
  },
  mounted() {
    this.$refs.nameInput.focus()
    this.$nextTick(() => {
      this.suggestPassword().then(password => {
        this.password = password
      })
    })
  },
  methods: {
    onCopy() {
      this.$emit('message', {
        text: 'Password copied to clipboard',
        type: 'success',
      })
    },
    ...mapActions({
      suggestPassword: 'account/suggestPassword',
      signupWithPassword: 'account/signupWithPassword',
    }),
    signup() {
      this.$v.$touch()
      if (this.$v.$invalid) return
      this.signupWithPassword({
        name: this.name,
        password: this.password,
      }).then(res => {
        this.$router.push({ name: 'Assets' })
      })
      // todo: on error show toast message here
    },
  },
}
</script>
