<template>
  <v-app id="inspire">
    <v-content>
      <v-container 
        fluid 
        fill-height>
        <v-layout 
          align-center
          justify-center>
          <v-flex 
            xs12 
            sm8 
            md6>
            <v-card class="elevation-12">
              <v-toolbar 
                dark 
                dense
                flat
                color="blue darken-3">
                <v-toolbar-title>Brainkey Login</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field 
                    v-model="brainkey"
                    prepend-icon="person" 
                    name="login" 
                    label="Brainkey"
                    multi-line/>
                  <v-layout 
                    row 
                    wrap>
                    <v-text-field 
                      v-model="password" 
                      prepend-icon="lock"
                      label="Enter password"
                      type="text"/>
                  </v-layout>
                  <v-text-field 
                    v-model="confirmPassword" 
                    prepend-icon="lock"
                    label="Confirm password"
                    type="password"/>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn 
                  :loading="loading"
                  color="blue darken-3"
                  dark 
                  @click="handleLogin">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data: () => ({
    brainkey: '',
    password: '',
    confirmPassword: '',
    loading: false,
  }),
  computed: {
    ...mapGetters({
      getUserId: 'account/getAccountUserId',
    }),
  },
  methods: {
    ...mapActions({
      login: 'account/login',
      storeBackupDate: 'account/storeBackupDate',
    }),
    async handleLogin() {
      // todo: vuelidate
      if (!this.brainkey || !this.password) return
      // todo: toasts
      this.showError = false
      this.loading = true
      const result = await this.login({
        password: this.password,
        brainkey: this.brainkey.toLowerCase(),
      })
      this.loading = false
      if (result.success) {
        const date = new Date()
        this.storeBackupDate({ date, userId: this.getUserId })
        this.$router.push({ name: 'Assets' })
      } else {
        // console.log('login error');
      }
    },
  },
}
</script>
