<template>
  <v-layout
    py-3
    wrap>
    <v-flex
      xs12
      md8
      offset-md2>
      <v-card ref="form">
        <v-card-text>
          <v-layout 
            row
            wrap
            justify-space-between>
            <v-flex 
              xs12 
              sm3>
              <v-select 
                :items="balanceItems" 
                v-model="selectedAsset"
                item-text="title"
                autocomplete
                color="blue darken-3"
                label="Currency"
                @change="handleAssetChange"/>
            </v-flex>
            <v-flex 
              xs12 
              sm8>
              <v-text-field
                ref="amountInput"
                :clearable="true"
                :suffix="selectedAsset.title"
                v-model="amount"
                :error-messages="amountErrors"
                label="Amount"
                color="blue darken-3"
                @input="$v.amount.$touch()"
                @blur="$v.amount.$touch()"
              />
            </v-flex>
          </v-layout>
          <div v-if="selectedAsset.id">
            Available:
            <v-btn 
              color="blue darken-3" 
              flat="flat"
              small 
              @click="setMaxAmount">{{ maxAmount }} {{ selectedAsset.title }}</v-btn>
            <v-spacer/>
          </div>
          <v-text-field
            :loading="$v.$pending"
            v-model="recepient"
            :error-messages="recepientErrors"
            :append-icon="validUserSelected ? 'check' : ''"
            :color="validUserSelected ? 'green' : 'blue darken-3'"
            label="Recepient"
            hint="BitShares account name"
            persistent-hint
            @input="$v.recepient.$touch()"
            @blur="$v.recepient.$touch()"
          />
          <v-text-field
            v-model="memo"
            label="Memo message"
            hint="Message for recepient"
            persistent-hint
          /> 
          <i class="fee">Fee is {{ fee }} BTS</i>
          <v-btn 
            class="mt-4" 
            block 
            color="blue darken-3" 
            dark
            @click="confirm">SEND</v-btn>
        </v-card-text>
      </v-card>
    </v-flex>

    <v-dialog 
      v-model="dialog" 
      max-width="390">
      <v-card>
        <v-card-title class="headline">Confirm Transfer</v-card-title>
        <v-card-text>
          <p>Send {{ amount }} {{ selectedAsset.title }} to {{ recepient }}</p>
          <p v-if="memo">With memo: {{ memo }}</p>
          <p><i>Fee is: {{ fee }} BTS</i></p>
          <div v-if="locked">
            <v-text-field
              :clearable="true"
              :error-messages="passwordErrors"
              v-model="password"
              type="password"
              label="Enter password"
              color="blue darken-3"
            />
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn 
            :disabled="pending" 
            color="blue darken-1" 
            flat="flat"
            @click.native="dialog = false">Cancel</v-btn>
          <v-btn 
            :loading="pending" 
            color="blue darken-1" 
            flat="flat"
            @click.native="send">Confirm</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-layout>
</template>

<script>
import appConfig from '@src/app.config'
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Transfer',
  mixins: [validationMixin],
  data: () => ({
    selectedAsset: { title: '' },
    dialog: false,
    amount: '',
    recepient: '',
    password: '',
    passwordErrors: [],
    pending: false,
    memo: '',
  }),
  validations: {
    amount: {
      required,
      notZero(value) {
        return value !== '0'
      },
      isNumeric(value) {
        const parsed = +value
        return parsed && !Number.isNaN(parsed)
      },
      lessThanMax(value) {
        return value <= this.maxAmount
      },
    },
    recepient: {
      required,
      isUnique(value) {
        if (!value) return true
        return new Promise(resolve => {
          this.checkUsername({ username: value.toLowerCase() }).then(result =>
            resolve(!result)
          )
        })
      },
      notSelf(value) {
        if (!value) return true
        return value.toLowerCase() !== this.userName
      },
    },
  },
  computed: {
    ...mapGetters({
      connected: 'connection/isReady',
      balances: 'account/getCurrentUserBalances',
      getAssetById: 'assets/getAssetById',
      userName: 'account/getCurrentUserName',
      isValidPassword: 'account/isValidPassword',
      locked: 'account/isLocked',
      memoPrice: 'transactions/getMemoPrice',
    }),
    // non zero balances
    balanceItems() {
      return Object.keys(this.balances)
        .filter(id => this.balances[id].balance)
        .map(id => {
          return {
            ...this.balances[id],
            title: this.getAssetById(id).symbol,
            id,
          }
        })
    },
    maxAmount() {
      if (!this.selectedAsset.id) return 0
      const precision = this.getAssetById(this.selectedAsset.id).precision
      let balance = this.balances[this.selectedAsset.id].balance
      if (this.selectedAsset.id === '1.3.0') balance -= 10420
      return balance / 10 ** precision
    },
    amountErrors() {
      const errors = []
      if (!this.$v.amount.$dirty) return errors
      !this.$v.amount.required && errors.push('Enter amount')
      !this.$v.amount.notZero && errors.push('Should be bigger than 0')
      !this.$v.amount.isNumeric && errors.push('Enter numeric value')
      !this.$v.amount.lessThanMax && errors.push('Exceeds maximum amount')
      return errors
    },
    recepientErrors() {
      const errors = []
      if (!this.$v.recepient.$dirty || this.$v.$pending) return errors
      !this.$v.recepient.required && errors.push('Enter recepient')
      !this.$v.recepient.isUnique && errors.push('User not found')
      !this.$v.recepient.notSelf && errors.push('Cannot send to yourself')
      return errors
    },
    validUserSelected() {
      return this.recepient && !this.$v.$pending && !this.$v.recepient.$invalid
    },
    fee() {
      return this.memoPrice(this.memo) / 10 ** 5
    },
  },
  mounted() {
    const assetId = this.$route.params.assetId
    if (assetId) this.selectAsset(assetId)
  },
  methods: {
    ...mapActions({
      checkUsername: 'account/checkIfUsernameFree',
      unlockWallet: 'account/unlockWallet',
      transferAsset: 'transactions/transferAsset',
    }),
    selectAsset(id) {
      if (!this.balanceItems) return
      this.selectedAsset = this.balanceItems.find(item => item.id === id)
      if (!this.selectedAsset) this.selectedAsset = this.balanceItems[0]
      this.$refs.amountInput.focus()
    },
    setMaxAmount() {
      this.amount = this.maxAmount
    },
    handleAssetChange() {
      this.$nextTick(() => this.$refs.amountInput.focus())
    },
    confirm() {
      this.$v.$touch()
      if (this.$v.$invalid) return
      this.dialog = true
    },
    checkLocked() {
      if (!this.locked) return true
      if (this.isValidPassword(this.password)) {
        this.unlockWallet(this.password)
        return true
      } else {
        this.passwordErrors.push('Invalid password')
        return false
      }
    },
    async send() {
      if (this.checkLocked()) {
        const amount =
          this.amount * 10 ** this.getAssetById(this.selectedAsset.id).precision

        this.pending = true
        const transferResult = await this.transferAsset({
          amount,
          to: this.recepient,
          assetId: this.selectedAsset.id,
          memo: this.memo,
        })
        this.pending = false

        if (transferResult.success) {
          const text =
            this.amount +
            '' +
            this.selectedAsset.title +
            ' sent to ' +
            this.recepient
          this.$emit('message', {
            text,
            type: 'success',
          })
          this.$router.push({ name: 'Assets' })
        } else {
          this.dialog = false
          this.$emit('message', {
            text: 'Transfer error',
            type: 'error',
          })
        }
      }
    },
  },
  page: {
    title: 'Transfer',
    meta: [{ name: 'description', content: appConfig.description }],
  },
}
</script>


<style>
/* stylelint-disable */
.error--text {
  color: #ff5252 !important;
}
.fee {
  display: block;
  padding-top: 18px;
}
</style>
